{% extends 'base.html' %} {% block title %}Entrar{% endblock %} {% block content %}
<div id="login-container" class="container p-none">
    <div class="smaller-login lgn-container col-lg-8">
        <form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="row create-contact-inputs">
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-right text-lg-right text-xs-center">Nombre de Usuario:</div>
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-left text-lg-left text-xs-center">{{form.username}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-xs-12 col-md-12 col-lg-12">{{form.username.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-right text-lg-right text-xs-center">Contraseña:</div>
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-left text-lg-left text-xs-center">{{form.password}}</div>
            </div>
            {% if form.non_field_errors%} {% for error in form.non_field_errors%}
            <div class="row create-contact-errors">
                <div class="col-xs-12 col-md-12 col-lg-12">{{error}}</div>
            </div>
            {% endfor %} {% endif %}
            <div class="row submit-button">
                <input type="submit" value="Entrar" class="btn btn-primary text-center submit-button" />
            </div>

            <input type="hidden" name="next" value="{{next}}" />

        </form>
    </div>
    <div class="row submit-button">
        <a href="{%url 'solicitar-usuario' %}">Solicitar Usuario</a>
        <a href="{%url 'reset' %}">Olvidaste la contraseña?</a>
        
    </div>
</div>
{% endblock content %}