{% extends 'base.html' %} {% block title %}Contactos{% endblock title %} {% block content %}

<div class="row header-blue">
    <div class="container">
        <div id="header-search-collapse" class="navbar-collapse collapse row" style="height: auto;">
            <form role="search" id="form-search" class="navbar-form" method="get" action="#">
                <div class="input-group header-search">
                    <input type="text" class="form-control" name="s">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                    </span>
                </div>
            </form>
            <h4 id="create-contact" class="media-heading">
                <span>Crear Contacto: </span>
                <span><a href="{% url 'create_contact_persona'%}" class="text-left">Persona</a></span>
                <span> o </span>
                <span><a href="{% url 'create_contact_entidad'%}" class="text-left">Entidad</a></span>
            </h4>
        </div>
    </div>

</div>

<div class="container">
    <div class="col-md-3" id="filter-table">
        <form role="filter" id="form-filter" class="" method="get" action="#">
            <div class="contact-type">
                <div class="form-group">
                    <label for="contact-type">
                        <h4>Tipo de Contacto</h4>                    
                    </label>
                    <select class="form-control" id="contact-type">
                        <option>Todos</option>                        
                        <option>Persona</option>
                        <option>Entidad</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="proyecto">
                        <h4>Proyecto</h4>
                    </label>
                    <select multiple="" class="form-control" id="proyecto">
                       {% for proyecto in proyectos %}
                            <option value="{{proyecto.id}}">{{proyecto.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="categorias">
                        <h4>Categorías</h4>
                    </label>
                    <select multiple="" class="form-control" id="categorias">
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" form="form-filter" id="form-filter-submit" value="Submit">Filtrar</button>

            </div>
        </form>
    </div>
    <div class="col-md-9">
        {% include 'marketing/contacts_list.html' %}
    </div>
</div>

{% endblock content %}