<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.nombre.label}}</div>
    <div class="col-lg-9">{{form.nombre}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.nombre.errors}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.servicios.label}}</div>
    <div class="col-lg-9">{{form.servicios}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.servicios.errors}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.persona.label}}</div>
    <div class="col-lg-9">{{form.persona}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.persona.errors}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.cargo.label}}</div>
    <div class="col-lg-9">{{form.cargo}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.cargo.errors}}</div>
</div>

{% include 'oncuba/phone_form.html'%} {% include 'oncuba/email_form.html'%}

<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.categoria.label}}</div>
    <div class="col-lg-9">{{form.categoria}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.categoria.errors}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.proyecto.label}}</div>
    <div class="col-lg-9">{{form.proyecto}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.proyecto.errors}}</div>
</div>

{% include 'oncuba/address_form.html'%}

<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.nacionalidad.label}}</div>
    <div class="col-lg-9">{{form.nacionalidad}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.nacionalidad.errors}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.sitio_web.label}}</div>
    <div class="col-lg-9">{{form.sitio_web}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.sitio_web.errors}}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">Aniversario</div>
    <div class="col-lg-9">{{form.aniversario}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.aniversario.errors}}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.fiesta.label}} Nacional</div>
    <div class="col-lg-9">{{form.fiesta}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.fiesta.errors}}</div>
</div>



<div class="row create-contact-inputs">
    <div class="col-lg-3">{{form.observaciones.label}}</div>
    <div class="col-lg-9">{{form.observaciones}}</div>
</div>
<div class="row create-contact-errors">
    <div class="col-lg-12">{{form.observaciones.errors}}</div>
</div>