{% extends 'base.html' %} {% block title %}Nueva Contraseña{% endblock %} {% block content %}
<div id="login-container" class="container p-none">
    <div class="smaller-login lgn-container col-lg-8">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form id="login-form" method="post">
            {% csrf_token %}
            <div class="row create-contact-inputs">
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-right text-lg-right text-xs-center">Nueva Contraseña:</div>
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-left text-lg-left text-xs-center">{{form.new_password1}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-xs-12 col-md-12 col-lg-12">{{form.new_password1.errors}}</div>
            </div>
             <div class="row create-contact-inputs">
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-right text-lg-right text-xs-center">Confirme Nueva Contraseña:</div>
                <div class="col-xs-12 col-md-6 col-lg-6 text-md-left text-lg-left text-xs-center">{{form.new_password2}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-xs-12 col-md-12 col-lg-12">{{form.new_password2.errors}}</div>
            </div>
            <div class="row submit-button">
                <input type="submit" value="Guardar Contraseña" class="btn btn-primary text-center submit-button" />
            </div>

            <input type="hidden" name="next" value="{{next}}" />

        </form>
    </div>
</div>
{% endblock content %}
