{% extends 'base.html' %} {% block title %}Actualizar Contacto{% endblock title %} {% block content %}
<div id="content-container" class="container p-none">
    <div class="side-p">
        <form id="contact-persona-form" action="{% url 'editar_persona' contact_id%}" method="post">
            {% csrf_token %}
            <h4 class="page-title sn-sh">Actualizar Contacto: Persona</h4>
            <div class="row">
                {% include 'oncuba/persona/persona_form.html'%}
            </div>
            <input class="btn btn-primary create-contact-submit" type="submit" value="Actualizar Contacto">
        </form>
    </div>
</div>
{% endblock content %}