<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Nombre(s) y Apellido(s):</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{{contact.nombre}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Institución:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{{contact.lugar_de_trabajo}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Ocupación:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{{contact.ocupacion}}</div>
</div>

<br/>
<h4> Listado de Teléfonos:</h4>
{% for p in phone %}
<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-12 col-lg-12">{{p.number}}</div>
</div>
{% endfor %}

<br/>
<h4> Listado de Correos:</h4>
{% for e in email%}
<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-12 col-lg-12"><a href="mailto:{{email.email}}">{{e.email}}</a></div>
</div>
{% endfor %} {% if address %}
<br/>
<h4> Listado de Direcciones:</h4>
<div class="table" id="direcciones-persona">
    <div id="direcciones-table">
        {% for addr in address%}
        <div class="row create-contact-inputs">
            <div class="col-xs-12 col-md-3 col-lg-3">Dirección:</div>
            <div class="col-xs-12 col-md-9 col-lg-9">{{addr.address}}</div>
        </div>

        <div class="row create-contact-inputs">
            <div class="col-xs-12 col-md-3 col-lg-3">País:</div>
            <div class="col-xs-12 col-md-9 col-lg-9">{{addr.pais}}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<br/>

<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Nacionalidad:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{{contact.nacionalidad}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Sitio Web:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{% if contact.sitio_web %}{{contact.sitio_web}}{% else %}-{% endif %}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Fecha de Nacimiento:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{% if form.fecha_de_nacimiento %}{{contact.fecha_de_nacimiento}}{% else %}-{% endif %}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Estado Civil:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{% if contact.estado_civil %}{{contact.estado_civil}}{% else %}-{% endif %}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Sexo:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{% if contact.sexo %}{{contact.sexo}}{% else %}-{% endif %}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Tiene Hijos?</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{% if contact.hijos %}Sí{%else%}No{%endif%}</div>
</div>



<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Categoría(s):</div>
    <div class="col-xs-12 col-md-9 col-lg-9">
        {% for categoria in contact.categoria.all%}
        <span><i class="fa fa-circle-o" style="font-size:0.5em;"></i> {{categoria.name}}</span><br/> {% endfor %}
    </div>
</div>
<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Proyecto(s):</div>
    <div class="col-xs-12 col-md-9 col-lg-9">
        {% for proyecto in contact.proyecto.all %}
        <span><i class="fa fa-circle-o" style="font-size:0.5em;"></i> {{proyecto.name}}</span><br/> {% endfor %}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-xs-12 col-md-3 col-lg-3">Observaciones:</div>
    <div class="col-xs-12 col-md-9 col-lg-9">{% if contact.observaciones %}{{contact.observaciones}}{%else%}-{%endif%}</div>
</div>