#main-nav-menu {
    float: right;
}

.header-search {
    width: 100%;
}

.content {
    padding-top: 0;
}

.header-search input {
    border-radius: 0;
    height: 35px;
}

.header-search span {
    width: 37px !important;
}

.header-search button {
    height: 35px;
    width: 38px;
}

#header-search-collapse {
    float: none;
    text-align: center;
    margin: auto;
    width: 80%;
}

h4.media-heading a {
    color: white;
    font-size: 35px;
    line-height: 53px;
}

form#form-search.navbar-form {
    width: 60%;
    float: left;
}

#create-contact:hover a {
    color: #9ccbe4;
}

.table {
    margin: 20px auto;
    margin-top: 0;
    background-color: white;
}

.contact {
    padding: 10px 0;
    color: #336699;
    font-size: 30px;
    border: 1px solid #00A9DA;
    padding-left: 10px !important;
    margin-top: 5px;
}

.contact .created-by,
.contact .occupation,
.contact .email {
    font-size: 20px;
    color: #333;
}

.content {
    height: 100%;
}

#filter-table {
    margin-bottom: 20px;
}

#form-filter-submit {
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    width: 90%;
}

.contact-type {
    margin-top: 10px;
}

#contact-persona-form {
    margin: 20px auto;
}

#contact-persona-form input,
#contact-persona-form textarea {
    width: 80%;
}

#contact-persona-form select {
    width: auto;
    min-width: 120px;
}

#contact-persona-form input#id_hijos {
    width: auto;
}

.address-row {
    margin: 10px auto;
}

.new-address {
    border-bottom: 1px solid #ddd;
}

#anadir-direccion {
    clear: both;
    display: block;
    /*text-align: center;*/
    width: 100%;
}

.header-address {
    margin-bottom: -8px;
}

.first-element {
    margin-top: 10px;
}

#contact-persona-form input.create-contact-submit {
    text-transform: uppercase;
    width: auto;
    margin: 20px auto;
    margin-bottom: 0;
}

.content .container div.row.mas-datos-persona {
    margin: 0 0 5px 0;
}

.create-contact-inputs {
    margin-top: 10px;
}

.new-address {
    display: none;
    padding-bottom: 10px;
}

.container .modify {
    line-height: 100px;
    text-align: right;
    padding-right: 15px;
}

.container .modify span {
    margin-right: 10px;
    font-size: 1.2em;
}

#form-filter .contact-type select {
    width: 90%;
}

#change-password {
    margin: 20px auto;
}

#change-password input {
    width: 200px;
}

h4#create-entidad,
h4#create-contact {
    display: inline;
    padding-left: 0;
}

a#crear-persona {
    padding-right: 5px;
}

#create-entidad:hover a {
    color: #9ccbe4;
}

button.delete-contact {
    display: inline;
    background: transparent;
    border: none;
    outline: none;
    line-height: normal;
}

form#delete-contact-form,
form#delete-contact-form:focus {
    display: inline;
    border: none;
    outline: none !important;
}

#user-reg-form {
    margin: 20px auto;
    padding: 0;
}

#user-reg-form .create-contact-inputs {
    margin: 20px 0;
}

#user-reg-form input,
#user-reg-form select {
    min-width: 250px;
}

#user-reg-form input.invitar {
    width: auto;
    min-width: 0;
    text-transform: uppercase;
}