#main-nav-menu {
    float: right;
}

.header-search {
    width: 100%;
}

.content {
    padding-top: 0;
}

.header-search input {
    border-radius: 0;
    height: 35px;
}

.header-search span {
    width: 37px !important;
}

.header-search button {
    height: 35px;
    width: 38px;
}

#header-search-collapse {
    float: none;
    text-align: center;
    margin: auto;
    width: 50%;
}

h4.media-heading a {
    color: white;
    font-size: 35px;
    line-height: 53px;
}

form#form-search.navbar-form {
    width: 60%;
    float: left;
}

#create-contact:hover a {
    color: #9ccbe4;
}

.table {
    margin: 20px auto;
    margin-top: 0;
    background-color: white;
}

.contact {
    padding: 10px 0;
    color: #336699;
    font-size: 30px;
    border: 1px solid #00A9DA;
    padding-left: 10px !important;
    margin-top: 5px;
}

.contact .created-by,
.contact .occupation {
    font-size: 20px;
    color: #333;
}

.content {
    height: 100%;
}

#filter-table {
    margin-bottom: 20px;
}

#form-filter-submit {
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    width: 100%;
}

.contact-type {
    margin-top: 10px;
}

#contact-persona-form {
    margin: 20px auto;
}

#contact-persona-form input {
    width: 80%;
}

.address-row {
    margin: 10px auto;
}

.new-address {
    border-bottom: 1px solid #ddd;
}

#anadir-direccion {
    clear: both;
    display: block;
    /*text-align: center;*/
    width: 100%;
}

.header-address {
    margin-bottom: -8px;
}

.first-element {
    margin-top: 10px;
}