{% extends 'base.html' %} {% block title %}Invitar Usuario{% endblock title %} {% block content %}
<div id="content-container" class="container p-none invitar-usuario">
    <div class="side-p">
        <h4 class="page-title sn-sh">Invitar usuario</h4>
        {% comment %}{% if user.is_superuser %}{% endcomment %}
        <form id="user-reg-form" class="container" action="{% url 'invitar-usuario' %}" method="post">
            {% csrf_token %}
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Correo Electrónico*:</div>
                <div class="col-lg-9">{{form.email}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.email.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Categorías*:</div>
                <div class="col-lg-9">{{form.categoria}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.categoria.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Proyectos*:</div>
                <div class="col-lg-9">{{form.proyecto}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.proyecto.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Nombre de usuario:</div>
                <div class="col-lg-9">{{form.username}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.username.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Nombre(s):</div>
                <div class="col-lg-9">{{form.first_name}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.first_name.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Apellido(s):</div>
                <div class="col-lg-9">{{form.last_name}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.last_name.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Teléfono:</div>
                <div class="col-lg-9">{{form.phone_number}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.phone_number.errors}}</div>
            </div>
            <div class="row create-contact-inputs">
                <div class="col-lg-3">Cargo:</div>
                <div class="col-lg-9">{{form.cargo}}</div>
            </div>
            <div class="row create-contact-errors">
                <div class="col-lg-12">{{form.cargo.errors}}</div>
            </div>
           {% if form.non_field_errors%} {% for error in form.non_field_errors%}
            <div class="row create-contact-errors">
                <div class="col-xs-12 col-md-12 col-lg-12">{{error}}</div>
            </div>
            {% endfor %} {% endif %}
            <input class="btn btn-primary invitar" type="submit" value="Invitar Usuario">
        </form>
        {% comment %}{% endif %}{% endcomment %}
    </div>
</div>
{% endblock content %}