<div class="row create-contact-inputs">
    <div class="col-lg-3">Nombre(s) y Apellido(s):</div>
    <div class="col-lg-9">{{contact.nombre}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">Apellidos:</div>
    <div class="col-lg-9">{{contact.apellidos}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">Institución:</div>
    <div class="col-lg-9">{{contact.lugar_de_trabajo}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">Ocupación</div>
    <div class="col-lg-9">{{contact.ocupacion}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">Número de Teléfono</div>
    <div class="col-lg-9">{{phone.number}}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">Correo Electrónico</div>
    <div class="col-lg-9"><a href="mailto:{{email.email}}">{{email.email}}</a></div>
</div>

<div class="table" id="direcciones-persona">
    <div id="direcciones-table">
        {% comment %}{% for addr in address%}{% endcomment %}
        <div class="row create-contact-inputs">
            <div class="col-lg-3">Dirección</div>
            <div class="col-lg-9">{{address.address_one}}</div>
        </div>
        <div class="row create-contact-inputs">
            <div class="col-lg-3">Municipio</div>
            <div class="col-lg-9">{{address.municipio}}</div>
        </div>
        <div class="row create-contact-inputs">
            <div class="col-lg-3">Provincia</div>
            <div class="col-lg-9">{{address.provincia}}</div>
        </div>
        <div class="row create-contact-inputs">
            <div class="col-lg-3">Descripción</div>
            <div class="col-lg-9">{{address.descripcion}}</div>
        </div>
        {% comment %}{% endfor %}{% endcomment %}
    </div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">País</div>
    <div class="col-lg-9">{{contact.pais}}</div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">Sitio Web</div>
    <div class="col-lg-9">{{contact.sitio_web}}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">Fecha de Nacimiento</div>
    <div class="col-lg-9">{{contact.fecha_de_nacimiento}}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">Estado Civil</div>
    <div class="col-lg-9">{{contact.estado_civil}}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">Sexo</div>
    <div class="col-lg-9">{{contact.sexo}}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">Tiene Hijos?</div>
    <div class="col-lg-9">{% if contact.hijos %}Sí{%else%}No{%endif%}</div>
</div>



<div class="row create-contact-inputs">
    <div class="col-lg-3">Categoría(s)</div>
    <div class="col-lg-9">
        {% for categoria in contact.categoria.all%}
        <span><i class="fa fa-circle-o" style="font-size:0.5em;"></i> {{categoria.name}}</span><br/> {% endfor %}
    </div>
</div>
<div class="row create-contact-inputs">
    <div class="col-lg-3">Proyecto(s)</div>
    <div class="col-lg-9">
        {% for proyecto in contact.proyecto.all %}
        <span><i class="fa fa-circle-o" style="font-size:0.5em;"></i> {{proyecto.name}}</span><br/> {% endfor %}</div>
</div>

<div class="row create-contact-inputs">
    <div class="col-lg-3">Observaciones</div>
    <div class="col-lg-9">{{contact.observaciones}}</div>
</div>